exercicio1-soap-tutores/src/main/resources/tutors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://estga.pt/vetsaude/tutors"
           xmlns:tns="http://estga.pt/vetsaude/tutors"
           elementFormDefault="qualified">

    <xs:element name="getTutorByMicrochipRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="microchip" type="tns:microchipType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTutorByMicrochipResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tutorAnimal" type="tns:tutorAnimalType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="tutorAnimalType">
        <xs:sequence>
            <xs:element name="nomeTutor" type="xs:string"/>
            <xs:element name="telefone" type="xs:string"/>
            <xs:element name="nif" type="xs:string"/>
            <xs:element name="nomeAnimal" type="xs:string"/>
            <xs:element name="especie" type="xs:string"/>
            <xs:element name="raca" type="xs:string"/>
            <xs:element name="anoNascimento" type="xs:int"/>
            <xs:element name="microchip" type="tns:microchipType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="microchipType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{15}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
